.fonticons {
   &__wrapper {
      display: grid;
      justify-content: center;
      align-items: center;
   }

   &-btc{
      background-image: url("@img/fonticons/BTC.svg");
   }
   &-ltc {
      background-image: url("@img/fonticons/LTC.svg");
   }
   &-eth {
      background-image: url("@img/fonticons/ETH.svg");
   }
   &-xrp {
      background-image: url("@img/fonticons/XRP.svg");
   }
   &-doge {
      background-image: url("@img/fonticons/DOGE.svg");
   }
   &-usdt {
      background-image: url("@img/fonticons/USDT.svg");
   }
   &-xtz {
      background-image: url("@img/fonticons/XTZ.svg");
   }
   &-trx {
      background-image: url("@img/fonticons/TRX.svg");
   }
   &-link {
      background-image: url("@img/fonticons/LINK.svg");
   }
   &-ada {
      background-image: url("@img/fonticons/ADA.svg");
   }
   &-leo {
      background-image: url("@img/fonticons/LEO.svg");
   }
   &-matic {
      background-image: url("@img/fonticons/MATIC.svg");
   }
   &-near {
      background-image: url("@img/fonticons/NEAR.svg");
   }
   &-sand {
      background-image: url("@img/fonticons/SAND.svg");
   }
   &-shib {
      background-image: url("@img/fonticons/SHIB.svg");
   }
   &-vet {
      background-image: url("@img/fonticons/VET.svg");
   }
   &-xmr {
      background-image: url("@img/fonticons/XMR.svg");
   }
   &-usdc {
      background-image: url("@img/fonticons/USDC.svg");
   }
   &-wbtc {
      background-image: url("@img/fonticons/WBTC.svg");
   }
   &-xlm {
      background-image: url("@img/fonticons/XLM.svg");
   }
   &-uni {
      background-image: url("@img/fonticons/UNI.svg");
   }
   &-algo {
      background-image: url("@img/fonticons/ALGO.svg");
   }
   &-bch {
      background-image: url("@img/fonticons/BCH.svg");
   }
   &-cro {
      background-image: url("@img/fonticons/CRO.svg");
   }
   &-bnb {
      background-image: url("@img/fonticons/BNB.svg");
   }
   &-mana {
      background-image: url("@img/fonticons/MANA.svg");
   }
   &-busd {
      background-image: url("@img/fonticons/BUSD.svg");
   }
   &-dai {
      background-image: url("@img/fonticons/DAI.svg");
   }
   &-dot {
      background-image: url("@img/fonticons/DOT.svg");
   }
   &-egld {
      background-image: url("@img/fonticons/EGLD.svg");
   }
   &-flow {
      background-image: url("@img/fonticons/FLOW.svg");
   }
   &-ftt {
      background-image: url("@img/fonticons/FTT.svg");
   }
   &-hbar {
      background-image: url("@img/fonticons/HBAR.svg");
   }
   &-icp {
      background-image: url("@img/fonticons/ICP.svg");
   }
   &-kcs {
      background-image: url("@img/fonticons/KCS.svg");
   }
   &-leo {
      background-image: url("@img/fonticons/LEO.svg");
   }
   &-sol {
      background-image: url("@img/fonticons/SOL.svg");
   }
   &-ape {
      background-image: url("@img/fonticons/APE.svg");
   }
   &-avax {
      background-image: url("@img/fonticons/AVAX.svg");
   }
   &-etc {
      background-image: url("@img/fonticons/ETC.svg");
   }
}
