@mixin wrapFonticons($width, $height, $offset: 0) {
  width: $width;
  height: $height;
  background-position: center calc($height / 1.75 + $offset);
  padding: calc($height / 1.5) calc($width / 2.5);
  margin: calc($height / -1.5) calc($width / -2.5);

  background-size: calc($width * 1.9) calc($height * 1.8135);
  display: block;

  background-clip: padding-box;
  box-sizing: content-box;
}
