.fonticons-sub {
   &-bitcoin {
      background-image: url("@img/fonticons/sub/bitcoin.svg");
   }
   
   &-fingerprint {
      background-image: url("@img/fonticons/sub/fingerprint.svg");
   }

   &-shield {
      background-image: url("@img/fonticons/sub/shield.svg");
   }
}
