.planet-orbit {
  position: absolute;
  z-index: 10;
}

.main-block__content {
  z-index: 12;
}

.page__popular-currencies, .popular-currencies {
  position: relative;
  z-index: 11;
}

.orbit-moon-container {
  transition: 100ms linear;
}

.orbit-moon {
  background: radial-gradient(50% 50% at 50% 50%, #6E40F2 0%, rgba(110, 64, 242, 0) 65.62%);
}

.orbit-moon-description > .description-title {
  color: #6E40F2;
  font-size: 24px;
}

.orbit-moon-description > .description-subtitle {
  color: #FFF;
  font-size: 16px;
}