/* ---- Mixins ---- */

/* -- Media Queries -- */
@mixin mq($size: "480" , $type: "<", $size-next: null) {
	@if ($type == ">") {
		@media (min-width: #{$size}px) {
			@content;
		}
	}

	@if ($type == "<") {
		@media (max-width: #{$size}px) {
			@content;
		}
	}

	@if ($type == "<>") {
		@media screen and (min-width: #{$size}px) and (max-width: #{$size-next}px) {
			@content;
		}
	}
}

/* ---- Selection ---- */
@mixin selection {
    background: none;
	color: $purpleColor;
	text-shadow: none;
}

/* -- Background -- */
@mixin background($url) {
    background: url($url) no-repeat center top / cover;
}

/* -- Transition -- */
@mixin transition($delay: $transitionDelay) {
    transition: all $delay ease;
}

/* -- Fade -- */
@mixin fade($status) {
    @if $status == in {
        opacity: 1;
        pointer-events: visible;
    }

    @if $status == out {
        opacity: 0;
        pointer-events: none;
    }

    @include transition();
}

/* -- Flexible -- */
@mixin flexible {
    display: flex;
    align-items: center;
}

/* -- Center Element -- */
@mixin center-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* -- Link Hover -- */
@mixin link-hover($opacity: 0.7) {
    opacity: $opacity;
    @include transition();
}