/* ---- Variables ---- */
$redColor: #F6465D;
$greenColor: #4AF646;
$darkBlueColor: #0F0D21;
$transitionDelay: 0.2s;

/* ---- Media Query Breakpoints ---- */
$phone: 480;
$phablet: 576;
$tablet: 768;
$tablet-large: 992;
$laptop: 1200;
$desktop: 1400;