/* ---- Field [Label] ----- */
.field {
    &-label {
        @include font-size(18px);
        font-weight: 400;
        margin-bottom: 10px;
    }

    &-attention {
        color: $purpleColor;
        @include font-size(16px);
        font-weight: 400;
        margin-top: 10px;
    }

    &-msg {
        @include font-size(16px);
        @include fade(out);
        font-weight: 400;
        margin-top: 10px;
    }

    &-text {
        @include font-size(16px);
        font-weight: 400;
        color: #676673;
        grid-column: 1 / 13;
        margin-top: 10px;
        
        & span {
            color: $purpleColor;
        }
    }
}