/* ---- Field [Select] ---- */
$border: 1px solid $purpleColor;
$padding: 21px 20px 21px 16px;
$path: '@img/exchanger/';

.field {
    &-select {
        @include transition();
        @include font-size(18px);
        position: relative;
        font-weight: 400;
        cursor: pointer;

        &__value {
            position: relative;
            background: #0F0D21;
            padding: $padding;
            border: 1px solid rgba(0, 0, 0, 0);
            border-bottom: none;

            &:after {
                content: '';
                @include background($path + 'arrow-down-icon.svg');
                @include transition();
                position: absolute;
                display: block;
                top: 50%;
                right: 15px;
                width: 24px;
                height: 24px;
                transform: translateY(-50%) rotate(0deg);
            }

            &:hover {
                @include transition();

                &:after {
                    @include background($path + 'arrow-down-icon-hover.svg');
                    @include transition();
                }
            }
        }

        &__list {
            @include fade(out);
            position: absolute;
            background: #0F0D21;
            z-index: 10;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0);
            height: 200px;
            overflow-y: scroll;
        }

        &__item {
            @include transition();
            padding: $padding;
            
            &.selected {
                display: none;
            }

            &:hover {
                @include transition();
                background: $purpleColor;
                color: #fff;
            }
        }

        &.open {
            & .field {
                &-select {
                    &__value {
                        border: $border;
                        border-bottom: none;

                        &:after {
                            @include transition();
                            transform: translateY(-50%) rotate(-180deg);
                        }
                    }

                    &__list {
                        @include fade(in);
                        border-color: $purpleColor;
                    }
                }
            }
        }

        &.error {
            & .field {
                &-select {
                    &__value {
                        @include transition();
                        color: $redColor;
                        border: 1px solid $redColor;
                    }

                    &__list {
                        @include transition();
                        border-color: $redColor;
                        border-top: none;
                    }
                }
            }
        }
    }
}