/* ---- Field [Wrapper] ----- */
.field {
    &-wrapper {
        color: #676673;

        &.currency {
            grid-column: 1 / 6;

            @include mq($tablet-large) {
                grid-column: 1 / 13;
            }

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.send {
            grid-column: 6 / 9;

            @include mq($tablet-large) {
                grid-column: 1 / 6;
            }

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.reverse {
            grid-column: 9 / 10;
            
            @include mq($tablet-large) {
                grid-column: 7 / 8;
            }

            @include mq($phablet) {
                display: none;
            }
        }

        &.receive {
            grid-column: 10 / 13;

            @include mq($tablet-large) {
                grid-column: 8 / 13;
            }

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.address {
            grid-column: 1 / 7;

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.card {
            grid-column: 7 / 13;

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.copy-address {
            grid-column: 1 / 7;

            @include mq($laptop) {
                grid-column: 1 / 13;
            }

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.copy-ua-card {
            grid-column: 7 / 10;

            @include mq($laptop) {
                grid-column: 1 / 7;
            }

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.copy-usd-card {
            grid-column: 10 / 13;

            @include mq($laptop) {
                grid-column: 7 / 13;
            }

            @include mq($phablet) {
                grid-column: 1 / 13;
            }
        }

        &.error {
            color: $redColor;

            & input {
                color: $redColor;
                border-color: $redColor;

                &::placeholder {
                    color: $redColor;
                }
            }

            & .field-select {
                border-color: $redColor !important;

                &__value {
                    border: 1px solid $redColor !important;
                    border-left: none;
                    height: 61px;
                }

                &__list {
                    color: #676673;
                    border-color: $redColor !important;
                    border-top: none;
                }
            }

            & .field-msg {
                @include fade(in);
            }
        }
    }
}