// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins";
$fontSizeValue: 24;
$fontSize: rem($fontSizeValue); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #FFFFFF; // Цвет шрифта по умолчанию
$purpleColor: #7B46E8;
$greyColor: #676673;
$someColor: #0F0D21;

// Additional colors
$red: #D62D30;
$green: #69A042;
	
// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1230;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoint values
// For usage in mixins which require numerical operations
// Such as + - * /
$pcValue: $containerWidth;
$laptopValue: 1136;
$tabletValue: 991.98;
$mobileValue: 767.98;
$mobileSmallValue: 479.98;

// Брейк-поинты
// In Ems
// For usage in @media queries
$pc: em($pcValue); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$laptop: em($laptopValue);
$tablet: em($tabletValue); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em($mobileValue); // Телефоны L
$mobileSmall: em($mobileSmallValue); // Телефоны S


// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

/* ---- Variables ---- */
$transitionDelay: 0.2s;
