/* ---- Buttons [Gray Btn] ---- */
.gray-btn {
    color: rgba(255, 255, 255, 0.4);

    &:hover {
        @include transition();
        background: #0F0D21;
    }

    &:active {
        @include transition();
        color: #fff;
        background: #0F0D21;
    }
}