/* ---- Buttons [Reverse Btn] ---- */
$path: '@img/exchanger/';
.reverse-btn {
    @include transition();
    position: relative;
    display: block;
    width: 58px;
    height: 58px;
    background: $darkBlueColor;
    margin: 33px auto 0;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 31px;
        height: 31px;
        @include center-element();
        @include background($path + 'reverse-icon.svg');
        @include transition();
    }

    &:hover {
        @include link-hover();
    }
}