.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px rgb(255, 255, 255);
		}
		&:checked + .checkbox__label:before {
			background: rgb(255, 255, 255);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;
		}
	}
	// .checkbox__text
	&__text {
	}
}
