//<FORM>
// Снипет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
