body {
  background-color: #0D1425;
  background-image: url(@img/background/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: rem(990) rem(1024);

  @media screen and (min-width: $mobileSmall) and (max-width: $pc) {
    background-image: url(@img/background/bg-tablet.jpg);
    background-color: #020015;
    background-size: rem(1440) rem(1728);
  }

  @media screen and (min-width: $pc) {
    background-image: url(@img/background/bg-desktop.jpg);
    background-size: rem(1920) rem(1920);
  }

  @media screen and (min-width: em(1920)) {
    background-image: url(@img/background/bg-desktop-xl.jpg);
    background-size: rem(3840) rem(1920);
  }
}
