body {
  background-color: #0D1425;
  background-image: url(@img/background/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;

  @media screen and (min-width: $mobileSmall) and (max-width: $pc) {
    background-image: url(@img/background/bg-tablet.jpg);
    background-color: #020015;
  }

  @media screen and (min-width: $pc) {
    background-image: url(@img/background/bg-desktop.jpg);
  }

  @media screen and (min-width: 1920px) {
    background-image: url(@img/background/bg-desktop-xl.jpg);
  }
}
