// Заголовки, общие БЄМ блоки и проче...

.title {
   font-weight: 500;
   font-size: rem(32);
   line-height: math.div(48, 32);
   @media screen and (max-width: $laptop) {
      & {
         text-align: center;
      }
   }
   @media screen and (max-width: $mobile) {
      & {
         font-size: rem(20);
         line-height: math.div(30, 20);
      }
   }
}

.text {
   font-weight: 400;
   line-height: math.div(30, $fontSizeValue);
   opacity: 0.5;

   @media screen and (max-width: $laptop) {
      & {
         text-align: center;
         font-size: rem(20);
         line-height: math.div(25, 20);
      }
   }
   
   @media screen and (max-width: $mobile) {
      & {
         font-size: rem(16);
         line-height: math.div(20, 16);
      }
   }
}

.block-text {
   &__body {}

   &__title {
      margin-bottom: rem(20);
   }

   &__text {
      margin-bottom: rem(40);
   }

   &__image {
      display: none;
      align-items: center;
      margin-bottom: rem(35);
      img {
         max-width: 100%;
      }
   }

   &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: rem(315);
      background-color: $purpleColor;
      padding: rem(15) rem(30);
      color: #FFFFFF;
   }

   @media screen and (max-width: $laptop) {
      &__body {
         margin: 0 auto;
         max-width: rem(565);
      }

      &__title {
         margin-bottom: rem(8);
      }

      &__image {
         display: flex;
         @include adaptiveValue("width", 769.63, 328);
         @include adaptiveValue("height", 543, 231.3);
         img {
         }
      }

      &__button {
         max-width: rem(236);
         padding: rem(12) rem(30);
         margin: 0 auto;
      }
   }

   @media screen and (max-width: $mobile) {
      &__body {
         max-width: rem(380);
      }

      &__image {
         img {
         }
      }

      &__button {
         max-width: rem(178);
      }
   }

   @media screen and (max-width: $mobileSmall) {
      &__image {
         img {
         }
      }
   }

}
