//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&__container {
		display: flex;
		min-height: rem(75);
		align-items: center;
	}

	&__logo {
		position: relative;
		z-index: 5;
		transition: all 0.2s ease;

		&:hover {
			opacity: 0.7;
			transition: all 0.2s ease;
		}

		img {
			max-width: 100%;
		}
	}

	/* Use @media to adapt logo width */
	@media screen and (max-width: $mobile) {
		&__logo {
			width: rem(180);
		}

		&__container {
			height: rem(75);
		}
	}

	@media screen and (min-width: $mobile) {
		&__logo {
			width: rem(238);
		}

		&__container {
			height: rem(90);
		}
	}

	&__menu {
		flex: 1 1 auto;
	}
}

.menu {
	padding: 0 rem(10);

	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			display: flex;
			flex-direction: column;
			top: rem(74);
			left: 0;
			overflow: auto;
			background-color: #0F0D21;
		}
	}

	&__list {
		display: flex;
		column-gap: rem(30);
		justify-content: flex-end;
		align-items: center;

		@media (max-width: $mobile) {
			align-items: stretch;
			flex-direction: column;

		}
	}

	&__item {
		display: flex;
		align-items: center;
		@media (max-width: $mobile) {
			border: 1px solid rgba(255, 255, 255, 0.3);
			padding: rem(16) rem(16);
			.icon {
				display: flex;
				opacity: 0.4;
			}
		}
	}

	&__link {
		font-size: rem(16);
		line-height: rem(24);
		opacity: 0.4;

		&:hover {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 0.2s ease;
		}

		&:active {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 0.2s ease;
		}

		@media (max-width: $mobile) {
			position: relative;
			display: flex;
			width: 100%;
			font-size: rem(22);
			justify-content: space-between;
			&::after {
				height: 22px;
				width: 12px;
				position: absolute;
				content: "";
				background-image: url('@img/chevron-right.svg');
				right: 0;
			}
		}
	}

	&__icons {
		@media screen and (min-width: $mobile) {
			display: none;
		}

		position: relative;
		z-index: 5;
		display: flex;
		gap: rem(29);
		align-items: center;
		justify-content: flex-end;
	}
}

.button {
	&__icon {
		background: #0000;
		opacity: 0.5;
		padding: 0;
		position: static;

		@media screen and (max-width: $mobile) {
			display: block;			
		}

		@media (any-hover: hover) {
			&:hover {
				background: #0000;
			}

			&:active {
				background: #0000;
			}
		}

		@media (any-hover: target) {
			&:target {
				background: #0000;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #FFFFFF;
			opacity: 0.5;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		&__active {
			span {
				width: 0;
			}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

