//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&__container {
		display: flex;
		height: rem(96);
		align-items: center;
		justify-content: space-between;
		padding: 0 rem(24);
	}

	&__logo {
		position: relative;
		z-index: 5;
		transition: all 0.2s ease;
		width: rem(145);
		height: rem(45);
		flex-shrink: 0;

		&:hover {
			opacity: 0.7;
			transition: all 0.2s ease;
		}

		img {
			max-width: 100%;
		}
	}

	&__cta-desktop {
		display: none;
	}

	@media screen and (min-width: $tablet) {
		&__logo {
			width: rem(140);
			height: rem(45);
		}

		&__container {
			height: rem(125);
			padding: 0 rem(32);
		}
	}

	@media screen and (max-width: $pc) {
		&__menu-active {
			position: fixed;
			background-color: rgba(2, 0, 21, 1);
		}
	}

	@media screen and (min-width: $pc) {
		&__container {
			padding: 0 rem(105);
			height: rem(117);
		}

		&__menu {
			flex: 1 1 auto;
		}

		&__cta {
			display: none;
		}

		&__cta-desktop {
			display: inline-flex;
		}
	}
}

.menu {
	padding: 0 rem(10);

	&__body {
		@media (max-width: $pc) {
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow: auto;
			background-color: #0F0D21;

			&.hidden {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
		column-gap: rem(30);
		justify-content: flex-end;
		align-items: center;

		@media (max-width: $pc) {
			align-items: stretch;
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		@media (max-width: $pc) {
			background: rgba(13, 20, 37, 0.5);
			border-bottom: 1px solid $purpleColor;
			padding: rem(16) rem(24);
			.icon {
				display: flex;
				opacity: 0.4;
			}

			&:not(.menu__item__noactive):target, &:not(.menu__item__noactive):active {
				background: #202E51;
				border: 1px solid $purpleColor;
				padding: rem(15) rem(23);
			}
		}
	}

	&__lang-select {
		font-size: rem(18);
		line-height: rem(27);
		font-weight: 400;
		cursor: pointer;
		height: rem(27);
		overflow: hidden;

		& > .lang-select__current {
			display: flex;
			align-items: center;
			gap: rem(5);

			&::after {
				content: "";
				background-image: url(@img/caret-down.svg);
				background-size: rem(24) rem(24);
				width: rem(24);
				height: rem(24);
				transition: all 300ms ease;
			}
		}

		&:hover {
			overflow: visible;
		}

		&:hover > .lang-select__current::after {
			transform: rotate(-180deg);
		}
	}

	

	&__link {
		&:hover {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 0.2s ease;
		}

		&:active {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(0deg, #FFFFFF, #FFFFFF);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: all 0.2s ease;
		}
	}

	&__icons {
		@media screen and (min-width: $pc) {
			display: none;
		}

		position: relative;
		z-index: 5;
		display: flex;
		gap: rem(29);
		align-items: center;
		justify-content: flex-end;
	}
}

.button__icon {
	background: #0000;
	opacity: 0.5;
	padding: 0;
	position: static;

	@media screen and (max-width: $mobile) {
		display: block;			
	}

	@media (any-hover: hover) {
		&:hover {
			background: #0000;
		}

		&:active {
			background: #0000;
		}
	}

	@media (any-hover: target) {
		&:target {
			background: #0000;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	position: relative;
	width: rem(30);
	height: rem(18);
	z-index: 5;

	@media (any-hover: none) {
		cursor: default;
	}

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: rem(2);
		background-color: $purpleColor;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	span {
		top: calc(50% - rem(1));
	}

	&__active {
		span {
			width: 0;
		}

		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}
}

.button-plus-burger {
	display: flex;
	align-items: center;
	gap: rem(32);

	@media screen and (min-width: $tablet) {
		gap: rem(37);		
	}

	@media screen and (min-width: $pc) {
		display: none;
	}
}

.nav-plus-button {
	display: flex;
	gap: rem(50);
	align-items: center;
	top: rem(96);

	@media screen and (min-width: $tablet) {
		top: rem(125);
	}

	@media screen and (min-width: $pc) {
		top: rem(117);
	}

	@media screen and (max-width: $pc) {
		position: fixed;
		left: 0;
		width: 100%;

		&.hidden {
			display: none;
		}
	}
}

.hidden {
	&__mobile {
		@media screen and (max-width: $pc) {
			display: none;
		}
	}

	&__desktop {
		@media screen and (min-width: $pc) {
			display: none;
		}
	}
}

.lang-select__mobile__wrapper, .menu__link {
	font-size: rem(18);
	line-height: rem(27);
	font-weight: 400;

	@media screen and (max-width: $pc) {
		font-size: rem(22);
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.lang-select {
	&__options {
		padding-top: rem(5);
	}
	&__option:not(:last-child) {
		padding-bottom: rem(5);
	}

	&__mobile {
		display: flex;
		gap: rem(24);

		&__option {
			color: $mainColor;
			text-decoration-line: underline;
		}
	}
}