//====================================================================================================
.page__main {
   padding-top: rem(140);
}

//====================================================================================================

.page {

   &__popular-currencies {
   }
}

@media screen and (min-width: $mobile) {
   .button {
      &__search {
         display: none;
      }
   }
}

@media screen and (max-width: $mobile) {
   .button {
      &__search {
         display: inline-flex;
         padding: rem(17);
         border-radius: 50%;
         background: rgba(15, 13, 33, 1);

         &:not(:hover):not(:active) * {
            opacity: 0.4;
         }

         @media (any-hover: target) and (any-hover: hover) {
            &:target {
               background: rgba(110, 64, 242, 1);
            }
            &:active {
               background: rgba(110, 64, 242, 1);
            }
         }
      }
   }
}


.search-icon {
   position: relative;

   &::after {
      position: absolute;
      content: "";
      width: rem(57);
      height: rem(57);
      background-image: url('@img/currencies/glass-border.svg');
      right: 0;
      top: 0;
      border-left: 1px solid $purpleColor;
      cursor: pointer;
      transition: all 0.2s ease;
   }

   &:hover {
      &::after {
         opacity: 0.7;
         transition: all 0.2s ease;
      }
   }
}



.popular-currencies {
   &__container {
      padding-top: rem(100);
   }

   @media screen and (min-width: $mobileSmall) and (max-width: $mobile) {
      &__container {
         padding-top: rem(120);
      }
   }

   @media screen and (min-width: $mobile) and (max-width: 1300px) {
      &__container {
         padding-top: rem(240);
      }
   }

   @media screen and (max-width: 360px) {
      &__container {
         padding-top: rem(32)
      }      
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(31);
   }

   &__title {
   }

   &__search {
      display: flex;
      justify-content: space-between;
      padding-top: rem(16);
      padding-bottom: rem(16);
      padding-left: rem(20);
      width: 390px;
      height: rem(57);
      background: #0F0D21;
      color: #FFF;
      font-size: rem(18);
   }

   @media screen and (max-width: $mobile) {
      .search-icon {
         &::after {
            display: none;
         }

         &__mobile-active {
            &::after {
               display: block;
            }
         }
      }
      &__search {
         display: none;
      }

      &__title {
         font-size: rem(24);
      }
   }

   &__colum {
      display: grid;
      align-items: center;
      padding: rem(11) 0;
      gap: 24px;

      grid-template-columns: 1fr 12rem 22rem;
   }

   &__colum-header {
      display: grid;
      padding: rem(27) 0;
      color: $greyColor;
      gap: 24px;

      grid-template-columns: 1fr 12rem 22rem;
   }

   @media screen and (max-width: $mobile) {
      &__colum {
         gap: 10px;
         grid-template-columns: 1fr 1fr;
      }

      &__colum-header {
         gap: 10px;
         grid-template-columns: 1fr 1fr;
      }
   }

   &__action{
      margin-top: rem(50);
      display: flex;
      justify-content: center;
   }
}

.colum {
   position: relative;

   &__cryptocurrency__item {
      display: flex;
      align-items: center;
   }

   &__price-header {
      text-align: right;
   }

   &__actions-header {
      text-align: right;
   }

   /* desktop price label */
   &__price {
      text-align: right;

      &::after {
         content: " USDT";
         color: $greyColor;
      }
   }

   &__actions {
      display: flex;
      justify-content: flex-end;
      gap: rem(24);
   }

   &__hidden {
      display: none;
   }

   @media screen and (max-width: $mobile) {
      /* desktop price label */
      &__price {
         display: none;
      }

      &__price-header {
         display: none;
      }

      &__actions {
         gap: 16px;
      }
   }
}

.cryptocurrency {
   &__item {
      position: relative;
      display: flex;
      align-items: center;

      & > picture {
         position: absolute;
      }
   }

   &__icon {
      position: absolute;
   }

   &__name {
      margin: 0 15px 0 60px;
   }

   &__price {
      /* mobile price label */
      display: none;
      color: $greyColor;

      font-size: rem(14);

      &::after {
         content: ' USDT';
         color: $greyColor;
      }
   }

   &__short {
      color: $greyColor;
   }

   @media screen and (max-width: $mobile) {
      &__name {
         font-size: rem(16);
      }

      &__short {
         display: none;
      }
      
      /* mobile price label */
      &__price {
         display: block;
         margin: 0 15px 0 60px;
      }

      &__item {
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         gap: rem(2);
      }
   }
}

picture > .cryptocurrency__icon {
   position: static;
}

@media screen and (max-width: $mobile) {
   .popular-currencies {
      &__search {
         width: 100%;
      }
   }
   
   .search-icon {
      &__mobile-active {
         width: 100%;
      }
   }
}

@media screen and (min-width: $mobileSmall) and (max-width: $mobile) {
   .search-icon {
      &__mobile-active {
         max-width: $mobileSmall;
         margin: auto;
      }
   }
}

.features {

   &__container {
      padding-top: rem(100);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
   }

   &__content {
      display: flex;
      flex: 0 1 52%;
      padding: 0 rem(52);
   }

   &__block-text {}

   &__items {
      display: flex;
      gap: rem(30);
   }

   &__item {}

   &__image {
      display: flex;
      flex: 0 1 48%;
      position: relative;

      img {
         max-width: 100%;
      }
   }

   @media screen and (max-width: $laptop) {
      &__container {
         padding-top: rem(80);
      }
   
      &__content {
         padding: 0;
         margin: 0 auto;
      }
   
      &__items {
         gap: rem(10);
      }
      &__image {
         display: none;
      }
   }
   @media screen and (max-width: $mobile) {
      &__container {
         padding-top: rem(56);
      }
   }
}

.item-features {

   &__numbers {
      color: $purpleColor;
      font-weight: 500;
      font-size: rem(36);
      line-height: math.div(54, 36);
      margin-bottom: rem(5);
   }

   &__text {}

   @media screen and (max-width: $laptop) {
      &__numbers {
         font-size: rem(32);
         text-align: center;
         margin-bottom: rem(4);
      }
   
      &__text {
         padding: 0 rem(60);
      }
   }
   @media screen and (max-width: $mobile) {
      &__numbers {
         font-size: rem(24);
         line-height: math.div(36, 24);
         text-align: center;
      }
   
      &__text {
         padding: 0;
      }
   }
}

.guarantees {
   background-color: #121B33;

   &__container {
      padding-top: rem(50);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
   }

   &__image {
      flex: 0 1 30%;
   }

   &__content {
      padding-left: rem(91);
      flex: 0 1 70%;
   }

   &__block-text {}

   @media screen and (max-width: $laptop) {
      &__container {
         padding-top: rem(47);
         flex-direction: column;
      }

      &__content {
         padding: 0;
         margin: 0 auto;
      }

      &__image {
         margin-bottom: rem(16);
      }

      &__block-text {
         max-width: rem(566);
         margin: 0 auto;
      }
   }
   @media screen and (max-width: $mobile) {
      &__container {
            padding-top: rem(40);
      }

      &__image img {
         max-width: rem(236);
      }
   }
   
   @media screen and (max-width: $mobileSmall) {
      &__image img {
         max-width: rem(178);
      }
   }
}


.features {

   &__container {
      padding-top: rem(100);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
   }

   &__content {
      display: flex;
      flex: 0 1 52%;
      padding: 0 rem(52);
   }

   &__block-text {}

   &__items {
      display: flex;
      gap: rem(30);
   }

   &__item {}

   &__image {
      display: flex;
      flex: 0 1 48%;
      position: relative;

      img {
         max-width: 100%;
      }
   }

   @media screen and (max-width: $laptop) {
      &__container {
         padding-top: rem(80);
      }
   
      &__content {
         padding: 0;
         margin: 0 auto;
      }
   
      &__items {
         gap: rem(10);
      }
      &__image {
         display: none;
      }
   }
   @media screen and (max-width: $mobile) {
      &__container {
         padding-top: rem(56);
      }
   }
}

.item-features {

   &__numbers {
      color: $purpleColor;
      font-weight: 500;
      font-size: rem(36);
      line-height: math.div(54, 36);
      margin-bottom: rem(5);
   }

   &__text {}

   @media screen and (max-width: $laptop) {
      &__numbers {
         font-size: rem(32);
         text-align: center;
         margin-bottom: rem(4);
      }
   
      &__text {
         padding: 0 rem(60);
      }
   }
   @media screen and (max-width: $mobile) {
      &__numbers {
         font-size: rem(24);
         line-height: math.div(36, 24);
         text-align: center;
      }
   
      &__text {
         padding: 0;
      }
   }
}
