.popular-currencies {
  &__container {
    padding-top: rem(8);

    @media screen and (min-width: $mobile) {
      padding-top: rem(30);
    }
  }

  &__top {
    display: flex;
    align-items: center;

    @media screen and (max-width: $pc) {
      justify-content: center;
      margin-bottom: rem(32);
    }
  }

  &__title {
    font-size: rem(32);
    line-height: rem(48);

    @media screen and (max-width: $mobile) {
      font-size: rem(20);
      line-height: rem(30);
    }
  }

  @media screen and (max-width: $mobile) {
    &__title {
      font-size: rem(24);
    }
  }

  @media screen and (max-width: em(400)) {
    &__title {
      &.i18n__rus {
        font-size: rem(22);
      }
    }
  }

  &__colum {
    display: grid;
    align-items: center;
    padding: rem(11) 0;
    gap: rem(79);
    grid-template-columns: minmax(rem(352.283), 1fr) rem(130) rem(80) rem(430.716);

    @media screen and (min-width: $pc) {
      &.i18n__pl {
        grid-template-columns: minmax(rem(352.283), 1fr) rem(110) rem(80) rem(436.75);
      }

      &.i18n__de {
        grid-template-columns: minmax(rem(352.283), 1fr) rem(122) rem(80) rem(447.667);
      }

      &.i18n__rus {
        grid-template-columns: minmax(rem(352.283), 1fr) rem(126) rem(80) rem(436.6);
      }
    }
  }

  &__colum-header {
    display: grid;
    padding: rem(50) 0;
    color: $greyColor;
    gap: rem(79);

    grid-template-columns: minmax(rem(352.283), 1fr) rem(130) rem(80) rem(430.716);

    @media screen and (min-width: $pc) {
      &.i18n__pl {
        grid-template-columns: minmax(rem(352.283), 1fr) rem(110) rem(80) rem(436.75);
      }

      &.i18n__de {
        grid-template-columns: minmax(rem(352.283), 1fr) rem(122) rem(80) rem(447.667);
      }

      &.i18n__rus {
        grid-template-columns: minmax(rem(352.283), 1fr) rem(126) rem(80) rem(436.6);
      }
    }

    @media screen and (max-width: $pc) {
      display: none;
    }
  }

  @media screen and (max-width: $pc) {
    &__colum {
      gap: rem(10);
      grid-template-columns: minmax(rem(135), 1fr) 1fr;
    }

    &__colum-header {
      gap: rem(10);
      grid-template-columns: minmax(rem(135), 1fr) 1fr;
    }
  }

  &__action {
    margin-top: rem(50);
    display: flex;
    justify-content: center;
  }
}

.colum {
  position: relative;

  &__actions-header {
    text-align: right;
  }

  /* desktop price label */
  &__price {
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(36);

    &::before {
      font-weight: 500;
      content: "$";
    }
  }

  &__change {
    font-weight: 500;
    color: $mainColor;
    opacity: 0.5;

    font-size: rem(24);
    line-height: rem(36);

    &.change__positive {
      color: $green;
      opacity: 1;
    }

    &.change__negative {
      color: $red;
      opacity: 1;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: rem(24);
    @include adaptiveValue("gap", 24, 8);
  }

  &__hidden {
    display: none;
  }

  @media screen and (max-width: $pc) {

    /* desktop price label */
    &__price,
    &__price-header {
      display: none;
    }

    &__change,
    &__change-header {
      display: none;
    }
  }
}

.cryptocurrency {
  $iconSize: 46;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    position: relative;
    display: flex;
    align-items: center;

    &>picture {
      position: absolute;
    }
  }

  &__icon {
    position: absolute;
    width: rem($iconSize);
    height: rem($iconSize);
  }

  &__name {
    font-size: rem(24);
    line-height: rem(36);
    font-weight: 500;
  }

  // holds __name and __price in column flexbox for mobile + tablet
  &__nameprice {
    display: flex;
    flex-direction: column;
    gap: rem(2);

    // gap between __icon and __nameprice
    margin-left: rem($iconSize + 17.15)
  }

  &__price {
    /* mobile price label */
    display: none;
    color: $mainColor;
    opacity: 0.8;

    @include currency('$');
  }

  &__short {
    color: $mainColor;
    opacity: 0.5;
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(36);

    width: rem(80);
  }

  @media screen and (max-width: $pc) {
    &__name {
      font-size: rem(22);
      line-height: rem(33);
    }

    /* mobile price label */
    &__price {
      font-size: rem(18);
      line-height: rem(27);
      display: block;
    }

    &__short {
      display: none;
    }

    &__nameprice {
      // gap between __icon and __nameprice
      margin-left: rem($iconSize + 13.15)
    }
  }

  @media screen and (max-width: $mobile) {
    &__name {
      font-size: rem(16);
      line-height: rem(24);
    }

    &__price {
      font-size: rem(14);
      line-height: rem(21);
    }

    &__nameprice {
      // gap between __icon and __nameprice
      margin-left: rem($iconSize + 5.15)
    }
  }
}

picture>.cryptocurrency__icon {
  position: static;
}

@media screen and (max-width: $mobile) {
  .popular-currencies {
    &__search {
      width: 100%;
    }
  }
}