.exchanger {
  &__container {
    @include adaptiveValue("padding-top", 117, 96);
  }
  &__content {
  }
  &__block-text {
  }
  &__block {
    @media screen and (max-width: $pc) {
      &-text {
        font-size: rem(20);
        line-height: 1.25;

        & > .block-text__title {
          margin-bottom: rem(8);
        }
      }
    }
  }
  &__link{
    font-size: rem(18);
    line-height: math.div(27, 18);
    margin-bottom: rem(50);
    a:first-child{
      opacity: 0.5;
    }
  }
}

.exchanger__block {
  &.desktop {
    gap: rem(50);
  }

  &__wrapper:not(.desktop) {
    transition: all 300ms;
    width: 100%;
    display: flex;
    justify-content: center;

    flex-grow: 1;
    flex-shrink: 0;

    &[data-modelvalue="0"] {
      position: relative;
      left: -250%;

      &.current {
        left: -100%;
      }
    }

    &[data-modelvalue="1"] {
      position: relative;
      left: 150%;

      &.current {
        left: 0;
      }
    }
  }
}

.exchanger-block {
  display: flex;

  &:not(.desktop) {
    overflow: hidden;
    padding-bottom: rem(120);
    margin-bottom: rem(-120);
  }

  &__tab {
    display: flex;
    flex-direction: column;
    
    // Important as .exchanger__block is wider
    // flex-shrink: 0;
    
    @include adaptiveValue("width", 428, 375, 0, 428, 375);
    @include adaptiveValue("width", 770, 396, 0, 800, 428);
  }

  @media screen and (min-width: $pc) {
    &__tab {
      width: rem(600);
    }
  }
}

.exchanger__headline {
  display: flex;

  justify-content: space-between;
  align-items: center;

  & > .exchanger__block-text > .text:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $laptop) {
    & .text, & .title {
      text-align: left;
    }
  }

  margin-bottom: rem(40);

  @media screen and (max-width: em(428)) {
    & .title {
      font-size: rem(16);
    }

    & .text {
      font-size: rem(14);
    }
  }
}

.exchanger__countdown {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: rem(12) rem(30);
  gap: rem(10);
  width: rem(159);
  
  & > * {
    font-size: rem(32);
    line-height: math.div(48, 32);
    font-weight: 600;
  }

  background: #202E51;
  border: rem(1) solid #7B46E8;


  @media screen and (max-width: $tablet) {
    width: rem(140);

    & > * {
      font-size: rem(24);
    }
  }

  @media screen and (max-width: $mobile) {
    padding: rem(12);

    & > * {
      font-size: rem(16);
    }

    gap: rem(8);

    width: rem(80);
  }
}
