.exchanger {
  &__container {
    @include adaptiveValue("padding-top", 117, 96);
  }
  &__content {
  }
  &__block-text {
  }
  &__block {
    @media screen and (max-width: $pc) {
      &-text {
        text-align: center;
        font-size: rem(20);
        line-height: 1.25;

        & > .block-text__title {
          margin-bottom: rem(8);
        }
      }
    }
  }
  &__link{
    font-size: rem(18);
    line-height: math.div(27, 18);
    margin-bottom: rem(50);
    a:first-child{
      opacity: 0.5;
    }
  }
}

.exchanger__block {
  &.desktop {
    gap: rem(50);
  }

  &__wrapper:not(.desktop) {
    transition: all 300ms;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 0;

    &[data-modelvalue="0"] {
      position: relative;
      left: -250%;

      &.current {
        left: -100%;
      }
    }

    &[data-modelvalue="1"] {
      position: relative;
      left: 150%;

      &.current {
        left: 0;
      }
    }
  }
}

.exchanger-block {
  display: flex;

  &:not(.desktop) {
    overflow: hidden;
    padding-bottom: rem(120);
    margin-bottom: rem(-120);
  }

  &__tab {
    display: flex;
    flex-direction: column;
    
    // Important as .exchanger__block is wider
    // flex-shrink: 0;
    
    @include adaptiveValue("width", 428, 375, 0, 428, 375);
    @include adaptiveValue("width", 770, 396, 0, $laptopValue, 428);
  }

  @media screen and (min-width: $pc) {
    &__tab {
      width: rem(600);
    }
  }
}
