/* ---- Page [Exchanger] ---- */

@import '../../base/variables';
@import '../../base/mixins';

@import 'exchanger';

@import 'block-tab';
@import 'block-select';

.reverse {
  &__labels {
  }

  &__button {
    transition: all .2s ease;
    position: relative;
    width: rem(71);
    height: rem(51);
    background-color: rgba(123, 70, 232, 0.1);
    border: rem(1) solid #7B46E8;
    &::after{
      content: "";
      background: url(../img/exchanger/reverse-icon.svg) no-repeat center top/cover;
      background-size: rem(31) rem(31);
      transform: translate(-50%,-50%);
      position: absolute;
      width: rem(31);
      height: rem(31);
      top: 50%;
      left: 50%;
    }
  }

  @media screen and (max-width: $mobile) {
    &__button {
      width: rem(56);
      height: rem(44);
  
      &::after {
        width: rem(24);
        height: rem(24);
        background-size: rem(24) rem(24);
      }
    }
  }
}
