.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #020015;
    z-index: 1000;
    @include fade(out);

    &.show {
        @include fade(in);
    }

    &__row {
        position: relative;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        text-align: center;
        animation: preloader-rotate 2s infinite linear;
    }

    &__item {
        position: absolute;
        display: inline-block;
        top: 0;
        background-color: $purpleColor;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        animation: preloader-bounce 2s infinite ease-in-out;

        &:last-child {
            top: auto;
            bottom: 0;
            animation-delay: -1s;
        }
    }
}